.teste{
    
    justify-content: space-between;
    justify-content: space-around;
    
    text-transform: capitalize;
    
    word-break: break-all;
    
    font-weight: bold,
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}