button {
    min-height: 6vh;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    background: transparent;
    border: none;
    border: solid 2px #E64F4A;
    color: #fff;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 30px;
    box-sizing: border-box;
    font-size: 1.2em;
    color: #fff;
    font-family: arial;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
button:hover {
    color: #fff;
}
button::after {
    content: "";
    background:  #E64F4A;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
}
button[class^="slide"]::after {
    transition: all 0.35s;
}
button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
}
button.slide_from_right::after {
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
}