.teste{
    text-align: center;
    font-size: 1.2em;
    font-family: arial;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    
    
    border-radius: 10px;
    margin-bottom: 10px;
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    flex-direction: column;
    
    word-break: break-all;
    
    margin-right: 8px;
    margin-left: 8px;
    padding-right: 5px;
    
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    
    background: rgba(0,0,0,.6);
    
    min-height: 50px;
    height: auto;
    width: 100vw;
    
    position: relative;
    background: rgba(0,0,0,.7);
    outline: none;
    
    letter-spacing: 5px;
    word-spacing: 5px;
    border-spacing: 5px;
    line-height: 5px;
    
    height: 10px;
    width: 10px;
    
    box-sizing: border-box;
}